

/* BASE */
:root{
  --red: #CE0000;
  --inputBg:#F2F3F4;
  --dark: #4f5d5b;
  --clicked: rgb(201, 186, 186);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
} 

@media (max-width:1300px) {
  html{
    font-size: 85%;
  }
}

/* ------------------------ */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
